body {
  background-color: rgb(221, 221, 221);
  font-family: sans-serif;
}

#main-div {
  width: 500px;
  margin: auto;
}

.quote {
  width: 500px;
  text-align: center;
  border: 2px rgb(235, 235, 235) solid;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0;
  padding: 20px;
}
